.last-ticket {
  padding: 1.125rem 0.5625rem 0.4375rem;
  background-color: #fff;
  outline: 1px solid #c4c4c4;
  box-shadow: 0 0.125rem 0.125rem rgba(62, 60, 65, 0.25);
}

.last-ticket:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.last-ticket__towns {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem;
  margin-bottom: 0.125rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #292929;
  text-transform: capitalize;
}

.last-ticket__terminals {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  color: #928f94;
}

.last-ticket__terminal-to {
  text-align: end;
}

.last-ticket__info {
  display: flex;
  justify-content: space-between;
  padding-left: 0.625rem;
}

.last-ticket__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;
}

.last-ticket__price {
  display: flex;
  align-items: baseline;
  gap: 0.1875rem;
}

.last-ticket__text {
  font-size: 1rem;
  font-weight: 400;
  color: #928f94;
}

.last-ticket__cash,
.last-ticket__currency {
  font-size: 2.25rem;
  font-weight: 700;
}

.last-ticket__currency {
  color: #928f94;
}

.last-ticket__cash {
  color: #ffa800;
}
