.carriage-type {
  padding: 1.75rem 1.125rem 1.25rem;
  border-top: 1px dotted #c4c4c4;
}

.carriage-type__title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #292929;
}

.carriage-type__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.6875rem;
  place-items: start;
  padding: 2rem 1rem 0.3125rem;
}

.carriage-type__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.125rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #292929;
}

.carriage-type__item_active {
  color: #ffa800;
}

.carriage-type__item:hover:not(.carriage-type__item_active) {
  color: #ffa800;
  cursor: pointer;
}

.carriage-type__icon {
  height: 3.125rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 3.125rem;
  background-position: center;
  background-size: contain;
}

.carriage-type__icon_seat {
  background-image: url("../../assets/seat.svg");
}

.carriage-type__item_active > .carriage-type__icon_seat,
.carriage-type__item:hover > .carriage-type__icon_seat {
  background-image: url("../../assets/seat-active.svg");
}

.carriage-type__icon_platzkart {
  background-image: url("../../assets/platzkart.svg");
}

.carriage-type__item_active > .carriage-type__icon_platzkart,
.carriage-type__item:hover > .carriage-type__icon_platzkart {
  background-image: url("../../assets/platzkart-active.svg");
}

.carriage-type__icon_compartment {
  background-image: url("../../assets/compartment.svg");
}

.carriage-type__item_active > .carriage-type__icon_compartment,
.carriage-type__item:hover > .carriage-type__icon_compartment {
  background-image: url("../../assets/compartment-active.svg");
}

.carriage-type__icon_lux {
  background-image: url("../../assets/lux.svg");
}

.carriage-type__item_active > .carriage-type__icon_lux,
.carriage-type__item:hover > .carriage-type__icon_lux {
  background-image: url("../../assets/lux-active.svg");
}
