.choose-seats {
  display: flex;
  padding-right: 0.0625rem;
}

.choose-seats__link {
  margin-left: auto;
  width: 100%;
  padding: 0.3125rem 1.8125rem 0.3125rem 1.5rem;
  border: 1px solid #ffa800;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ffa800;
}

.choose-seats__link:hover {
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.choose-seats__link:active {
  color: #ffa800;
  box-shadow: none;
  background-color: #fff;
}