.limited-mobility__label {
  font-size: 1.125rem;
  font-weight: 400;
  color: #292929;
}

.limited-mobility__label::before {
  content: "";
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid #928f94;
  border-radius: 0.3125rem;
  vertical-align: middle;
  margin-right: 1.25rem;
}

.limited-mobility__checkbox:checked + .limited-mobility__label::before {
  border-color: #ffa800;
  background-size: 1.25rem 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/checked.svg");
}

.limited-mobility__checkbox:focus + .limited-mobility__label::before {
  border: 3px solid #ffa800;
}
