.header-home {
  background-image: url("../../assets/banner-1.png");
  background-color: #ffa800;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-home__top-container {
  position: relative;
  padding: 1.25rem 16.125rem 0.8125rem;
}

.header-home__top-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-home__content {
  display: flex;
  gap: 9.1875rem;
  justify-content: flex-end;
  align-items: center;
  padding: 15.9375rem 14.625rem 0;
}

@media (max-width: 1830px) {
  .header-home__content {
    flex-direction: column;
    gap: 0;
    padding: 5rem 3.125rem 0;
  }
}

@media (max-width: 1330px) {
  .header-home__top-container {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}