.contact-number {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  width: 22.5rem;
  font-weight: 400;
}

.contact-number__label {
  font-size: 1rem;
  color: #928f94;
}

.PhoneInputInput {
  padding: 0.625rem 1.25rem;
  border: 1px solid #928f94;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  color: #292929;
}

.contact-number__input_invalid > .PhoneInputInput {
  border-color: transparent;
  outline: 2px solid red;
}

.PhoneInputInput::placeholder {
  color: #c4c4c4;
}

.PhoneInputCountry {
  display: none;
}