.price-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.875rem 1.375rem 1.4375rem 1.75rem;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.price-details__title {
  font-size: 1em;
}

.price-details__price {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}

.price-details__cash,
.price-details__currency {
  font-size: 3rem;
}

.price-details__cash {
  color: #ffa800;
}

.price-details__currency {
  color: #e5e5e5;
}