.search-form {
  padding: 4.9375rem 1.3125rem 3.25rem;
  background: rgba(41, 41, 41, 0.8);
}

.search-form__container {
  display: flex;
  flex-direction: column;
  gap: 3.8125rem;
  margin-bottom: 6rem;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  font-size: 1.875rem;
  font-weight: 300;
  color: #fff;
}

.search-form__legend {
  padding-left: 0.4375rem;
  padding-bottom: 0.8125rem;
}

.search-form__destination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-form__swap {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../assets/swap.svg");
}

.search-form__swap:hover {
  cursor: pointer;
  background-image: url("../../assets/swap-active.svg");
}

.search-form__date {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.search-form__btn {
  margin-left: auto;
  padding: 1rem 4.25rem;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  background-color: #ffa800;
}

.search-form__btn:focus,
.search-form__btn:hover {
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.search-form__btn:active {
  border: 1px solid #ffa800;
  color: #ffa800;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .search-form__btn {
    margin-right: auto;
  }
}
