.date-picker {
  position: relative;
}

.date-picker__component {
  width: 20.1875rem;
  padding: 1.25rem 3.75rem 1.1875rem 1.875rem;
  border-radius: 0.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #292929;
}

@media (max-width: 992px) {
  .date-picker__component {
    width: 15.625rem;
  }
}

.date-picker__icon {
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  transform: translateY(-50%);
  width: 2.125rem;
  height: 1.875rem;
  background-image: url("../../assets/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.date-picker__icon:hover {
  cursor: pointer;
  background-image: url("../../assets/calendar-active.svg");
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  width: 22.0625rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.react-datepicker__month-container {
  float: none;
}

.react-datepicker-popper {
  z-index: 2;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #fff;
  color: #fff;
}

.react-datepicker__header {
  padding: 0.9375rem 1.875rem 1.375rem 1.875rem;
  background-color: #fff;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 1.875rem;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
}

.react-datepicker__navigation--previous {
  left: 2.625rem;
  border-right-color: black;
}

.react-datepicker__navigation--next {
  right: 2.9375rem;
  border-left-color: black;
}

.react-datepicker__current-month {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.react-datepicker__day-name {
  display: none;
}

.react-datepicker__month {
  padding: 0.125rem 0 0.1875rem 0;
}

.react-datepicker__day {
  width: 2.4375rem;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: right;
}

.react-datepicker__day:nth-child(7) {
  font-weight: 700;
}

.react-datepicker__day--today {
  border-radius: 0.1875rem;
  background-color: #fcdc9d;
  outline: 2px solid #fcdc9d;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day:not([aria-disabled="true"]):hover {
  color: #928f94;
  outline: 2px solid #ffa800;
  background-color: #fcdc9d;
}

.react-datepicker__day--selected {
  color: #fff;
  outline: 2px solid #ffa800;
  background-color: #ffa800;
}

.react-datepicker__day--outside-month {
  color: #e5e5e5;
}
