.check-payment {
  background-color: #fff;
}

.check-payment__container {
  display: flex;
  justify-content: space-between;
}

.check-payment__type {
  width: 100%;
  padding: 2.75rem 2.0625rem 4.625rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #292929;
}

.check-payment__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 24.1875rem;
  padding: 1.4375rem 1.3125rem 1.25rem;
  border-left: 1px dashed #e5e5e5;
}
