.price-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 30px 22px 23px 28px;

  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.price-details__title {
  font-size: 1em;
}

.price-details__price {
  display: flex;
  align-items: center;
  gap: 7px;
}

.price-details__cash {
  font-size: 48px;
  color: #ffa800;
}

.price-details__currency {
  font-size: 48px;
  color: #e5e5e5;
}
