.features {
  padding: 1.8125rem 2rem 1.5625rem 3.9375rem;
}

.features__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.8125rem;
}

.features__item:not(:last-child) {
  margin-bottom: 2.125rem;
}

.features__wrapper {
  display: flex;
  gap: 1.75rem;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
}

.features__icon {
  object-fit: none;
}

.features__text {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
}
