.destination {
  position: relative;
}

.destination__input {
  width: 20.1875rem;
  padding: 1.25rem 3.75rem 1.1875rem 1.875rem;
  border-radius: 0.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #292929;
}

.destination__icon {
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  transform: translateY(-50%);
  width: 1.3125rem;
  height: 1.875rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../assets/destination.svg");
}

.destination__icon:hover {
  cursor: pointer;
  background-image: url("../../../../assets/destination-active.svg");
}

@media (max-width: 992px) {
  .destination__input {
    width: 15.625rem;
  }
}
