.documents {
  padding: 37px 36px 31px 32px;
  border-bottom: 1px dashed #928f94;

  display: flex;
  gap: 35px;
}

.documents__column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.documents__type {
  color: #928f94;
}

.documents__inner-wrapper {
  position: relative;

  padding: 12.5px 40px 15px 14px;
  border: 1px solid #928f94;
  border-radius: 5px;

  font-size: 18px;
  color: #292929;
}

.documents__inner-wrapper_passport {
  width: 205px;
}

.documents__inner-wrapper_birth-sertificate {
  width: 445px;
}

.documents__arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-25%);

  width: 0;
  height: 0;

  border: 5px solid transparent;
  border-top-color: #928f94;
}

.documents__arrow:hover {
  border-top-color: #ffa800;

  cursor: pointer;
}

.documents__type-list {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;

  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f7f5f9;
}

.documents__type-item {
  padding: 10px 20px;

  font-size: 24px;
}

.documents__type-item:hover {
  cursor: pointer;
  color: #fff;
  background: #ffca62;
}

.documents__type-item:first-child {
  border-radius: 5px 5px 0 0;
}

.documents__type-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.documents__type-item:last-child {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 992px) {
  .documents {
    gap: 20px;
  }
}
