.backward-details {
  padding: 1rem 1.6875rem 1.125rem 1.875rem; 
  font-size: 1.125rem; 
  font-weight: 400;
  color: #fff;
}

.backward-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backward-details__wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.backward-details__title {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: capitalize;
}

.backward-details__date {
  padding: 0.1875rem 0;
  place-self: flex-end;
}

.backward-details__checkbox {
  display: none;
}

.backward-details__label {
  display: block; 
  width: 1.25rem; 
  height: 1.25rem; 
  background-image: url("../../assets/expand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; 
}

.backward-details__label:hover {
  background-image: url("../../assets/expand-active.svg");
}

.backward-details__checkbox:checked + .backward-details__label {
  background-image: url("../../assets/collapse.svg");
}

.backward-details__checkbox:checked + .backward-details__label:hover {
  background-image: url("../../assets/collapse-active.svg");
}

.backward-details__content {
  display: none;
  padding: 1.0625rem 0; 
}

.backward-details__content_active {
  display: block;
}

/* номер поезда */
.backward-details__number-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; 
}

.backward-details__number-info-text {
  color: #e5e5e5;
}

.backward-details__number-info-number {
  font-size: 1.5rem; 
  font-weight: 700;
  text-align: right;
}

/* название поезда */
.backward-details__name-info {
  display: flex;
  justify-content: space-between;
  padding-top: 0.625rem; 
  padding-bottom: 0.625rem;
}

.backward-details__name-info-text {
  color: #e5e5e5;
}

.backward-details__name-info-name {
  font-size: 1rem; 
  font-weight: 700;
  text-align: right;
  text-transform: capitalize;
}

/* время */
.backward-details__time-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.75rem; 
  padding-bottom: 0;
}

.backward-details__time-info-time-start,
.backward-details__time-info-time-stop {
  font-size: 1.5rem; 
  font-weight: 700;
}

.backward-details__time-info-arrow {
  width: 1.875rem; 
}

.backward-details__time-info-wrapper {
  position: relative;
}

.backward-details__time-info-duration {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

/* дата */
.backward-details__date-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3125rem; 
  padding-bottom: 0.625rem;
  color: #928f94;
}

/* города */
.backward-details__town-info {
  display: flex;
  justify-content: space-between;
  padding-top: 0.625rem; 
  padding-bottom: 0;
  text-transform: capitalize;
}

/* вокзалы */
.backward-details__terminal-info {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0.625rem; 
  font-size: 1rem; 
  color: #928f94;
}

.backward-details__terminal-info-to {
  text-align: right;
}
